.App {
  text-align: center;
  color: white;
  
  
  align-items: center;
  width: 100%;
}
.App h1 {
  margin: 10px;
}
.App .card {
  background: black;
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  border-radius: 25px;
}
.App .card form {
 margin-top: 10px;
}
.App .card form  h2 {
  margin: 10px;
 }

.App .card .input-group {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.left{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.left p {
  margin-top: 7px;
  margin-left: 5px;
  
}